*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", serif;
    font-style: normal;
}

.bg-light {
    background-color: #fff !important;
}


.content {
    margin-top: 90px;
    line-height: 1;
}

.content-info {
    background: #8e2de2; 
    background: -webkit-linear-gradient(to bottom, #8e2de2, #4a00e0);
    background: linear-gradient(to bottom, #8e2de2, #4a00e0);
    color: #fff;
    width: 360px;
    padding: 1px 5px 0px 5px;
    border-radius: 5px;
    font-size: 14px;
    
}

.content .inner-text {
    font-size: 34px;
    font-weight: normal;
}

.content .hero-caption-text {
    background: -webkit-linear-gradient(255deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   

}

.content .hero-caption-text h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 1;
}

.content .hero-btn {
    margin-top: 30px;
}

.content .hero-btn .btn-primary {
    background-color: #4a00e0;
    border-color: #4a00e0;
    padding: 17px 50px;
    border-radius: 9px;
}

.content .hero-btn .btn-light {
    background-color: #fff;
    padding: 17px 50px;
    border-color: #000;
    border-radius: 9px;
    margin-left: 25px;
}

.hero-img {
    max-width: 480px;
    background: #8e2de2; 
    background: -webkit-linear-gradient(to bottom, #8e2de2, #4a00e0);
    background: linear-gradient(to bottom, #8e2de2, #4a00e0);
    margin-top: 90px;
    padding: 30px;
    border-radius: 30px;
}



.hero-img img{
    width: 480px;
    margin-left: -30px;
}

@media screen and (max-width: 765px) {

    .content-info  {
        width: 340px;
        line-height: 1.5;
        padding: 5px 5px 0px 5px;
        border-radius: 5px;
        margin-bottom: 10px;
    }


    .content .hero-caption-text h1 {
        font-size: 48px;
        line-height: 1;
    }


    .hero-img img{
        width: 350px;
        margin-left: -30px;
    }
}


#about-me {
    background-color: #f8f9fa;
    margin-top: 60px;
    padding: 100px;
    text-align: center;
}

#about-me .about_me-content h1 {
    color: #4a00e0;
    font-weight: 700;
    font-size: 55px;
}

#about-me .about_me-content .para-1 {
    font-weight: normal;
    font-size: 24px;
}

#about-me .about_me-content .para-2 {
    font-weight: normal;
    font-size: 20px;
}


#about-me .about_me-icons i {
    font-size: 40px;
    margin-left: 15px;
    color: #8e2de2;
}


#resume {
    background-color: #f8f9fa;
    padding: 30px;
}

#resume .resume-title {
    text-align: center;
    background: -webkit-linear-gradient(255deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 55px;
}


#resume .experience {

    max-width: 860px;
    padding-right: 15px;  
    padding-left: 15px;  
    margin-right: auto;   
    margin-left: auto;    
    margin-top: 30px;
}

#resume .experience .experience-title {
    display: flex;
    justify-content: space-between;
}

#resume .experience .experience-title .experience-text h2 {
    font-size: 38px;
    color: #4a00e0;
    font-weight: 700;
}

#resume .experience .experience-title .experience-download button {
    padding: 15px 30px 15px 30px;
   background-color: #4a00e0;

}

#resume .experience .experience-title .experience-download i {
    margin-right: 8px;
}

#resume .experience .experience-card {
    margin-top: 30px;
   
}

#resume .experience .experience-card .card {
    border: none !important;
    border-radius: 15px;
    box-shadow: 8px 8px 8px #adb5bd;
}

#resume .experience .experience-card .years_of_experience {
    padding: 30px;
    background-color: #f8f9fa;
    border-radius: 20px;
}

#resume .experience .experience-card .years_of_experience .years_of_experience-title h3 {
    font-size: 20px;
    color: #1e30f3;
    font-weight: 700;
}

#resume .experience .experience-card .years_of_experience .years_of_experience-content h3 {
    font-size: 20px;
    font-weight: 700;
}

#resume .experience .experience-card .years_of_experience .years_of_experience-content p {
    font-size: 16px;
}

#resume .experience .experience-card .years_of_experience-description {
    padding: 30px;
}





#resume .education {
    max-width: 860px;
    padding-right: 15px;  
    padding-left: 15px;  
    margin-right: auto;   
    margin-left: auto;    
    margin-top: 50px;
}


#resume .education .education-title .education-text h2 {
    font-size: 38px;
    color: #e21e80;
    font-weight: 700;
}


#resume .education .education-card {
    margin-top: 30px;
   
}

#resume .education .education-card .card {
    border: none !important;
    border-radius: 15px;
    box-shadow: 8px 8px 8px #adb5bd;
}

#resume .education .education-card .years_of_education {
    padding: 30px;
    background-color: #f8f9fa;
    border-radius: 20px;
}

#resume .education .education-card .years_of_education .years_of_education-title h3 {
    font-size: 20px;
    color: #e21e80;
    font-weight: 700;
}

#resume .education .education-card .years_of_education .years_of_education-content h3 {
    font-size: 20px;
    font-weight: 700;
}

#resume .education .education-card .years_of_education .years_of_education-content p {
    font-size: 16px;
}

#resume .education .education-card .years_of_education-description {
    padding: 30px;
}


#skills {
    background-color: #f8f9fa;
    padding: 30px; 
}



#skills .skills-body {
    max-width: 820px;
    padding-right: 15px;  
    padding-left: 15px;  
    margin-right: auto;   
    margin-left: auto;    
    margin-top: 30px;
}

#skills .skills-body .card {
    border: none !important;
    border-radius: 15px;
    box-shadow: 8px 8px 8px #adb5bd;  
}













footer {
    padding: 10px;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
}

footer .footer-content .footer-links ul  {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex; 
}

footer .footer-content .footer-links li {
    margin-right: 20px;
}